<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>ng-DEMO!!</span>
    <button mat-button class="mat-title" color="">C++</button>
    <button mat-button color="">JavaScript!</button>
    <button mat-button color="">Kotlin</button>
    <span class="spacer"></span>
    <a href="https://twitter.com/therockncoder"><i class="icon ion-logo-twitter"></i></a>
    <a href="https://github.com/rockncoder"><i class="icon ion-logo-github"></i></a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
